.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.menu {
  
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu__item {
  color: inherit;
  text-decoration: none;
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
  text-align: right;
  padding-left: 30px;
  border-bottom: 1px solid;
}

.menu__item:first-child {
  
  border-top: none;
}

.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  font-size: 4vh;
}

.menu__item-link:hover {
  color: inherit;
}

.menu__item-link:focus:not(:focus-visible) {
  color: inherit;
}

.marquee {
  
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate3d(0, 101%, 0);
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
#ada996
,

#f2f2f2,#DBDBDB,#EAEAEA
);
  
  overflow: hidden;
}


.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: fit-content;
  will-change: transform;
}

.marquee__part {
  
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.marquee span {
  color: rgb(164, 163, 163);
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 0;
  padding: 0 1vw;
}

.marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}
