html, body, #root {
  height: 100%;   /* make sure React root takes full height */
  margin: 0;

}

.warm {
  z-index:-1;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;   /* always at least full viewport height */
 background-image: linear-gradient(to right, #eb3349, #f45c43);
  padding:25px;
  justify-content: center;
  align-items: center;
  
}
.cold {
  z-index:1;
  position:fixed;
   top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;   /* always at least full viewport height */
 background-image: linear-gradient(#0F2027, #203A43, #2C5364 );
  padding:25px;
  justify-content: center;
  align-items: center;
  
}