

.particles-container-cold {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  background: linear-gradient(#f12711, #f5af19);
}

.particles-container-warm {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: linear-gradient(#0f2027
,
#203a43,#2c5364 );
}
